.header {
  color: gray;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  height: 5%;
  border: 1px solid black;
}

.my-board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cards-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  align-items: center;
  padding: 2%;
  border: 5px solid lightgray;
  width: 100%;
}

.head-card {
  background-color: lightgray;
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 2%;
  overflow-y: scroll;
  height: 100%;
  max-height: 80vh;
}

.checklist-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.checklist-popup-content {
  background-color: #fefefe;
  color:black;
  margin: auto;
  padding: 3%;
  border: 1px solid #888;
  width: 80%;
  border-radius: 30px;
  overflow-y: scroll;
height: 100%;
max-height: 62vh;
}

.items-checklist{
  display: flex;

flex-direction: row;

font-size: 20px;

font-weight: normal;

}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.head-card-text{
  color:black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.card-header{
  text-align: center;
font-size: 24px;
font-weight: bold;
padding:1%;
}

.des-card-head{
  font-size: 22px;
border: 1px solid
black;
border-radius: 8px;
background:
azure;
}

.checklist-content{
  font-size: 22px;

font-weight: bold;

background:
antiquewhite;

border: 1px solid
black;

border-radius: 10px;

text-align: center;
padding: 1%;
overflow-y: scroll;
max-height: 20vh;
height: 100%;
}
